language: c
os: linux
before_script:
  - sudo add-apt-repository -y ppa:jonathonf/ffmpeg-3
  - sudo apt-get update -q
  - sudo apt-get install -y --allow-unauthenticated libargtable2-dev libsdl1.2-dev ffmpeg libavcodec-dev libavformat-dev
script:
  - ./autogen.sh
  - ./configure
  - make
after_script:
  - wget https://s3.amazonaws.com/tmm1/ten-copy.mkv
  - ./comskip ten-copy.mkv
  - cat ten-copy.txt
  - grep "9361	17922" ten-copy.txt
  - test -x comskip-gui
